<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Title -->
  <title>
    <%= htmlWebpackPlugin.options.title || '' %>
  </title>
  <!-- Description -->
  <meta name="description" content="<%= htmlWebpackPlugin.options.description || '' %>">
  <!-- Favicon -->
  <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
    <% } %>
      <!-- Mobile metas -->
      <% if (htmlWebpackPlugin.options.mobile) { %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <% } %>
          <!-- Styles -->
          <% for (var css in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
            <% } %>
</head>

<body>
  <noscript>Javascript is disabled. You must enable Javascript to use this site.</noscript>

  <!-- TODO Progress loader -->

  <!-- App -->
  <div id="<%= htmlWebpackPlugin.options.appMountNodeId || 'app' %>" class="react-root"></div>

  <!-- Scripts -->
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
      <% if (htmlWebpackPlugin.options.envFile) { %>
        <script src="<%= htmlWebpackPlugin.options.envFile %>"></script>
        <% } %>
</body>

</html>
